/*
	400
	font-family: 'Adobe Caslon W01', serif;
	
	500, 700
	font-family: 'Brandon Grotesque W01', sans-serif;
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0 !important;
}

html,
button,
input,
select,
textarea {
	background: #fff;
	color: #58595b;
	font-family: 'Adobe Caslon W01', serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
}

button,
input,
select,
textarea {
	font-size: 1em;
}

body {
	margin: 0 auto;
	max-width: 120em;
	position: relative;
}

a {
	color: #fa9c35;
	text-decoration: none;
}

a:link {
	color: #fa9c35;
}

a:visited {
	color: #fa9c35;
}

a:hover,
a:focus {
	color: #00a7e2;
}

a:active {
	color: #fa9c35;
}

::-moz-selection {
	background: #00a7e2;
	color: #fff;
	text-shadow: none !important;
}

::selection {
	background: #00a7e2;
	color: #fff;
	text-shadow: none !important;
}

input,
button,
select,
textarea {
	background-color: #fff;
	border-radius: 0;
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-weight: 500;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input.text,
textarea {
	-webkit-appearance: none;
	border: 1px solid #9b9da0;
	padding: 0.75em 1em;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	background: #fff url('/images/dropdown.svg') 100% 50% no-repeat;
	border: 1px solid #9b9da0;
	padding: 0.75em 64px 0.75em 1em;
}

select option[disabled][selected] {
	color: #9b9da0;
}

select::-ms-expand {
    display: none;
}

select:focus {
	background-image: url('/images/dropdown-active.svg');
}

input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input.text:focus,
textarea:focus,
select:focus {
	border-color: #00a7e2;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #9b9da0;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #9b9da0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #9b9da0;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #9b9da0;
}

label {
	color: #00a7e2;
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-weight: 500;
}

a.btn,
input.btn,
div.btn,
input[type="submit"],
button {
	-webkit-appearance: none;
	background-color: #00a7e2;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin: 0;
	padding: 0.75em 1.5em;
	text-decoration: none;
}

a.btn:hover,
input.btn:hover,
div.btn:hover,
input[type="submit"]:hover,
button:hover {
	background-color: #fa9c35;
	text-decoration: none;
}

a.btn:focus,
input.btn:focus,
div.btn:focus,
input[type="submit"]:focus,
button:focus {
	background-color: #fa9c35;
}

a.btn.disabled,
input.btn.disabled,
div.btn.disabled,
input[type="submit"].disabled,
button.disabled {
	background-color: #e9ebed;
	color: #58595b;
	cursor: default;
}

textarea {
	resize: vertical;
}

b,
strong {
	font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #00a7e2;
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-weight: 500;
	line-height: 1.5;
	margin: 0.5em 0;
}

h1 {
	font-size: 3.998em;
	line-height: 1.2;
}

h2 {
	font-size: 2.827em;
	line-height: 1.2;
}

h3 {
	font-size: 1.999em;
	line-height: 1.3;
}

h4 {
	font-size: 1.414em;
	line-height: 1.4;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
	margin: 32px 0 0.5em 0;
}

img, object, embed {
	height: auto !important;
	max-width: 100%;
}

.video-container {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

.video-container iframe,
.video-container object,
.video-container embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}


/* ==========================================================================
   Custom Styles
   ========================================================================== */

.book-room {
	background: #fa9c35;
	padding: 1em 0;
	text-align: center;
}

.book-room .header {
	color: #fff;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}

.carousel {
	position: relative;
}

.carousel .slide {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.carousel .slide.animating {
	z-index: 2;
}

.carousel .slide:first-child {
	display: block;
}

.content {
	margin: 0 auto;
	padding-left: 80px;
	padding-right: 80px;
}

.copyright {
	font-size: 1.125em;
}

.footer-contact {
	border-bottom: 1px solid #66caee;
	border-top: 1px solid #66caee;
	font-size: 1.414em;
	margin: 3em 0 2em 0;
	padding: 2em 0 1.75em 0;
}

.footer-contact ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-contact li {
	display: inline-block;
	margin: 0 1em;
}

.footer-contact .title {
	display: inline-block;
	margin-right: 0.5em;
}

.footer-illinois {
	display: inline-block;
	padding: 0 2em;
	vertical-align: middle;
	width: 33%;
}

.footer-illinois a {
	display: inline-block;
	vertical-align: middle;
}

.footer-illinois svg {
	display: inline-block;
	fill: #fff;
	height: 75px;
	vertical-align: middle;
	width: 300px;
}

.footer-illinois a:hover svg,
.footer-illinois a:focus svg {
	fill: #221f1f;
}

.footer-newsletter {
	display: inline-block;
	padding: 0 2em;
	vertical-align: top;
	width: 33%;
}

.footer-newsletter form {
	background: #33b9e8;
	font-size: 1.414em;
	margin: 0 auto;
	max-width: 16em;
	position: relative;
}

.footer-newsletter input {
	background: none;
	border: none;
	color: #fff;
	display: block;
	padding-right: 4em;
	width: 100%;
}

.footer-newsletter input::-webkit-input-placeholder {
	color: #fff;
}

.footer-newsletter input:-moz-placeholder {
	color: #fff;
}

.footer-newsletter input::-moz-placeholder {
	color: #fff;
}

.footer-newsletter input:-ms-input-placeholder {
	color: #fff;
}

.footer-newsletter button {
	background: none;
	height: 3em;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	line-height: 1;
	top: 0;
	width: 3em;
}

.footer-newsletter button:hover,
.footer-newsletter button:focus {
	background: #fff;
}

.footer-newsletter button svg {
	display: inline-block;
	fill: #fff;
	height: 1em;
	width: 1em;
}

.footer-newsletter button:hover svg,
.footer-newsletter button:focus svg {
	fill: #00a7e2;
}

.footer-social {
	margin-bottom: 2em;
}

.footer-social a {
	border-radius: 100%;
	display: inline-block;
	font-size: 3em;
	margin: 0 0.75em;
	padding: 0.5em;
	vertical-align: middle;
}

.footer-social a:hover,
.footer-social a:focus {
	background: #fff;
}

.footer-social svg {
	display: block;
	fill: #fff;
	height: 1em;
	width: 1em;
}

.footer-social a:hover svg,
.footer-social a:focus svg {
	fill: #00a7e2;
}

.footer-twitter {
	display: inline-block;
	padding: 0 2em;
	vertical-align: middle;
	width: 33%;
}

.footer-twitter .date {
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-size: 1.125em;
	font-weight: 500;
	text-transform: uppercase;
}

.footer-twitter .tweet {
	font-size: 1.414em;
	margin: 0.75em 0;
}

.hero {
	height: 600px;
}

.hero .arrow {
	background: #fff;
	border-radius: 100%;
	bottom: 3em;
	cursor: pointer;
	height: 2.5em;
	left: 50%;
	line-height: 3.125;
	position: absolute;
	text-align: center;
	width: 2.5em;
	z-index: 3;
}

.hero .arrow:hover {
background: #fa9c35;
}

.hero .arrow.prev {
	margin-left: -1.75em;
}

.hero .arrow.next {
	margin-left: 1.75em;
}

.hero .arrow svg {
	display: inline-block;
	fill: #00a7e2;
	height: 1em;
	width: 1em;
}

.hero .arrow:hover svg {
	fill: #fff;
}

.hero .slide-nav {
	display: none;
}

.hero .slide {
	height: 600px;
	overflow: hidden;
}

.hero img {
	display: block;
	left: 50%;
	margin-left: -960px;
	max-width: none;
	position: absolute;
	z-index: 1;
}

.hero .overlay {
	background: #00a7e2;
	background: rgba(0, 183, 247, 0.86);
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 550px;
	z-index: 2;
}

.hero .overlay:after {
	border-color: transparent transparent transparent #00a7e2;
	border-color: transparent transparent transparent rgba(0, 183, 247, 0.86);
	border-style: solid;
	border-width: 300px 0 300px 75px;
	content: '\0020';
	height: 0;
	left: 100%;
	margin-top: -300px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 0;
	z-index: 2;
}

.hero .overlay-content {
	padding: 2em 0 2em 3em;
	position: relative;
	top: 50%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hero .icon {
	display: block;
	margin-bottom: 1.5em;
	margin-top: -2em;
	position: relative;
}

.hero .icon:before,
.hero .icon:after {
	background: #57c6ed;
	content: '\0020';
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 26%;
}

.hero .icon:before {
	left: 50%;
	margin-left: 3em;
}

.hero .icon:after {
	margin-right: 3em;
	right: 50%;
}

.hero .icon svg {
	display: block;
	fill: #ade4f8;
	height: 4em;
	margin: 0 auto;
	width: 4em;
}

.hero .title {
	color: #fff;
	line-height: 1;
	margin: 0;
}

.hero .sub-title {
	color: #221f1f;
	font-size: 1.414em;
	margin: 0 0 0.5em 0;
	text-transform: uppercase;
}

.hero .cta {
	background: none;
	color: #ade4f8;
	display: inline-block;
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-size: 1.125em;
	margin-top: 1em;
	text-transform: uppercase;
	vertical-align: middle;
}

.hero .cta:hover,
.hero .cta:focus {
	background: #fff;
	color: #00a7e2;
}

.hp-event-search {
	background: #ededee;
	position: relative;
}

.hp-event-search .header {
	color: #9b9da0;
	font-size: 1em;
	letter-spacing: 0.1em;
	margin: 0 0 1.125em 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.hp-event-search .header:after {
	background: #ceced0;
	content: '\0020';
	height: 1px;
	left: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 1;
}

.hp-event-search .header span {
	background: #ededee;
	display: inline-block;
	padding: 0 2em;
	position: relative;
	vertical-align: middle;
	z-index: 2;
}

.hp-event-search .form {
	padding: 2em 4em;
	text-align: center;
	width: 78%;
}

.hp-event-search .form-field {
	border-left: 1px solid #ceced0;
	display: inline-block;
	font-size: 1.125em;
	padding: 0 2em;
	vertical-align: middle;
	width: 24%;
}

.hp-event-search .form-field.search-date {
	border-left: none;
	width: 50%;
}

.hp-event-search .form label {
	color: #58595b;
	display: inline-block;
	line-height: 1.2;
	text-align: right;
	text-transform: uppercase;
	vertical-align: middle;
	width: 21%;
}

.hp-event-search .form input,
.hp-event-search .form select {
	border: none;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.hp-event-search .form .sub-field {
	display: inline-block;
	margin-left: 4%;
	width: 34%;
}

.hp-event-search button {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 22%;
}

.hp-event-search button .icon {
	background: #fa9c35;
	border-radius: 100%;
	left: -1em;
	margin-top: -1em;
	padding: 0.5em;
	position: absolute;
	top: 50%;
}

.hp-event-search button .title {
	font-size: 1.999em;
}

.hp-event-search button svg {
	fill: #fff;
	display: block;
	width: 1em;
	height: 1em;
}

.hp-audience {
	padding: 5em 0;
	text-align: center;
}

.hp-audience .section-head {
	margin-bottom: 4em;
}

.hp-audience .section-head > a {
	display: inline-block;
}


.hp-audience .section-head .icon {
	display: inline-block;
	vertical-align: middle;
}

.hp-audience .section-head svg {
	display: block;
	fill: #00a7e2;
	height: 5em;
	width: 5em;
}

.hp-audience .section-head > a:hover svg {
	fill: #fa9c35;
}

.hp-audience .section-head .title {
	margin: 0.25em 0 0 0;
}

.hp-audience .section-head > a:hover .title {
	color: #fa9c35;
}

.hp-audience .section-head .sub-title {
	color: #9b9da0;
	font-size: 1.125em;
	text-transform: uppercase;
}

.hp-audience .columns {
	margin: 0 auto;
	max-width: 96em;
}

.hp-audience .col {
	display: inline-block;
	margin: 0 2%;
	text-align: left;
	vertical-align: top;
	width: 29%;
}

.hp-audience .col-head {
	margin-bottom: 1em;
}

.hp-audience .col-head .title {
	color: #221f1f;
	display: inline-block;
	margin: 0;
	text-transform: uppercase;
}

.hp-audience .col-head .title a {
	color: #221f1f;
}

.hp-audience .col-head a.cta {
	color: #00a7e2;
	float: right;
	font-size: 1.414em;
	font-style: italic;
	text-transform: lowercase;
}

.hp-audience .col-head a.cta:hover,
.hp-audience .col-head a.cta:focus {
	color: #fa9c35;
}

.hp-audience .hp-featured {
	background-color: #221f1f;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 2em;
	overflow: hidden;
}

.hp-audience .hp-featured a {
	color: #fff;
	display: block;
	height: 18em;
	position: relative;
	-moz-transition: background 300ms ease-out;
	-o-transition: background 300ms ease-out;
	-webkit-transition: background 300ms ease-out;
	transition: background 300ms ease-out;
}

.hp-audience .hp-featured.mini a {
	text-align: center;
	height: 8em;
}

.hp-audience .hp-featured a:hover,
.hp-audience .hp-featured a:focus {
	background: rgba(0, 167, 226, 0.8);
}

.hp-audience .hp-featured .overlay {
	bottom: 0;
	left: 0;
	padding: 1.75em;
	position: absolute;
	width: 100%;
}

.hp-audience .hp-featured.mini .overlay {
	bottom: auto;
	padding: 1em 1.75em;
	top: 50%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hp-audience .hp-featured .title {
	color: #fff;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}

.hp-audience .hp-featured .description {
	line-height: 1.3;
	margin: 0.5em 0;
}

.hp-audience .hp-featured .cta {
	font-size: 1.125em;
	font-style: italic;
}

.hp-audience .hp-featured .cta svg {
	display: inline-block;
	fill: #fff;
	height: 0.75em;
	margin-left: 0.5em;
	opacity: 0;
	-moz-transform: translateX(-0.5em);
	-ms-transform: translateX(-0.5em);
	-o-transform: translateX(-0.5em);
	-webkit-transform: translateX(-0.5em);
	transform: translateX(-0.5em);
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	width: 0.75em;
}

.hp-audience .hp-featured a:hover .cta svg,
.hp-audience .hp-featured a:focus .cta svg {
	opacity: 0.65;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
}

.hp-audience .section-cta {
	font-size: 1.414em;
	margin-top: 1em;
	padding: 0.5em 1em;
}

.hp-planners {
	background: #f6f6f7;
}

.site-credit {
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-size: 0.875em;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.site-footer {
	background: #00a7e2;
	color: #fff;
	padding: 4em 0;
	text-align: center;
}

.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4 {
	color: #fff;
}

.site-footer a {
	color: #fff;
}

.site-footer a:hover,
.site-footer a:focus {
	color: #221f1f;
}

.site-header {
	padding: 2em 0;
	position: relative;
	z-index: 10;
}

.site-header .phone {
	font-size: 1.414em;
	position: absolute;
	right: 80px;
	top: 4em;
}

.site-header .phone svg {
	display: none;
}

.site-logo {
	display: inline-block;
	vertical-align: middle;
}

.site-logo img {
	display: block;
	margin: 0 auto;
}

.site-nav {
	position: absolute;
	right: 20em;
	top: 3em;
}

.site-nav .nav-icon,
.site-nav .subnav-icon {
	display: none;
}

.site-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-nav .main-nav {
	position: relative;
	z-index: 3;
}

.site-nav .main-nav > li {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 14em;
}

.site-nav .main-nav > li > a {
	border-top: 1px solid #fff;
	display: block;
	padding: 1.5em 0;
}

.site-nav .main-nav > li:hover > a,
.site-nav .main-nav > li:focus > a {
	border-color: #fa9c35;
}

.site-nav .main-nav > li > a .title {
	color: #00a7e2;
	display: block;
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-size: 1.414em;
	font-weight: 700;
	text-transform: uppercase;
}

.site-nav .main-nav > li:hover > a .title,
.site-nav .main-nav > li:focus > a .title {
	color: #fa9c35;
}

.site-nav .main-nav > li > a .sub-title {
	color: #221f1f;
}

.site-nav .menu {
	background: #00a7e2;
	height: 0;
	left: 50%;
	margin-left: -7em;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-moz-transition: transform 200ms ease-out, opacity 200ms ease-out;
	-o-transition: transform 200ms ease-out, opacity 200ms ease-out;
	-webkit-transition: transform 200ms ease-out, opacity 200ms ease-out;
	transition: transform 200ms ease-out, opacity 200ms ease-out;
	-moz-transition-delay: 200ms;
	-o-transition-delay: 200ms;
	-webkit-transition-delay: 200ms;
	transition-delay: 200ms;
	width: 14em;
	z-index: 1;
}

.site-nav .menu:before {
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 0.375em 0.75em 0 0.75em;
	content: '\0020';
	left: 50%;
	height: 0;
	margin-left: -0.75em;
	position: absolute;
	pointer-events: none;
	top: 0;
	width: 0;
}

.site-nav .menu li {
	padding: 0.25em 1.25em;
}

.site-nav .menu a {
	color: #fff;
	display: block;
	font-family: 'Adobe Caslon W01', serif;
	font-weight: 400;
}

.site-nav .menu a:hover,
.site-nav .menu a:focus {
	color: #221f1f;
}

.site-nav .main-nav > li:hover > .menu,
.site-nav .main-nav > li:focus > .menu {
	height: auto;
	opacity: 1;
	overflow: visible;
	padding: 1.5em 0 1em 0;
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.site-search .search-icon {
	cursor: pointer;
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	position: absolute;
	right: 15em;
	top: 4.5em;
}

.site-search.active .search-icon {
	background: #00a7e2;
}

.site-search .search-icon svg {
	display: block;
	fill: #00a7e2;
	height: 1.75em;
	width: 1.75em;
}

.site-search .search-icon:hover svg,
.site-search .search-icon:focus svg {
	fill: #fa9c35;
}

.site-search.active .search-icon svg {
	fill: #fff;
}

.site-search .search-modal {
	background: #ededee;
	height: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-moz-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	-o-transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-moz-transition: transform 200ms ease-out;
	-o-transition: transform 200ms ease-out;
	-webkit-transition: transform 200ms ease-out;
	transition: transform 200ms ease-out;
	width: 100%;
	z-index: 1;
}

.site-search.active .search-modal {
	height: auto;
	overflow: visible;
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.site-search .search-modal input {
	background: none;
	border: none;
	display: block;
	font-family: 'Brandon Grotesque W01', sans-serif;
	font-size: 2.827em;
	font-weight: 500;
	padding: 0.5em 80px;
	width: 100%;
}

.site-search .search-modal button {
	background: none;
	font-size: 1.999em;
	margin-top: -1em;
	padding: 0.5em;
	position: absolute;
	right: 1em;
	top: 50%;
}

.site-search .search-modal button:hover,
.site-search .search-modal button:focus {
	background: #00a7e2;
}


.site-search .search-modal svg {
	fill: #00a7e2;
	display: block;
	height: 1em;
	width: 1em;
}

.site-search .search-modal button:hover svg,
.site-search .search-modal button:focus svg {
	fill: #fff;
}


/* ==========================================================================
   jQuery UI
   ========================================================================== */

.ui-datepicker{
	z-index: 9999 !important;
}

/* ==========================================================================
   SVG Fallback
   ========================================================================== */

.no-svg svg {
	display: none;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1350px) {
	.content {
		padding-left: 60px;
		padding-right: 60px;
	}

	.footer-contact .address {
		display: block;
		margin-bottom: 0.5em;
	}

	.footer-twitter .tweet {
		font-size: 1em;
	}

	.footer-twitter .date {
		font-size: 1em;
	}

	.hp-audience .hp-featured {
		margin-bottom: 1.5em;
	}

	.hp-audience .hp-featured .title {
		font-size: 1.414em;
	}

	.hp-event-search .form {
		padding-left: 60px;
		padding-right: 60px;
		width: auto;
	}

	.hp-event-search button {
		height: auto;
		margin-top: 1.25em;
		position: relative;
		width: auto;
	}

	.hp-event-search button .title {
		font-size: 1.125em;
	}

	.hp-event-search button .icon {
		display: none;
	}

	.site-header .phone {
		right: 15.5em;
		top: 1.675em;
	}

	.site-header .phone svg {
		display: inline-block;
		fill: #00a7e2;
		width: 1em;
		height: 1em;
		vertical-align: middle;
		margin-right: 0.25em;
	}

	.site-nav {
		bottom: 0;
		right: 60px;
		top: auto;
	}

	.site-search .search-icon {
		display: none;
	}

	.site-search .search-modal {
		height: auto;
		left: auto;
		position: absolute;
		right: 60px;
		top: 1.75em;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
		width: 16em;
	}

	.site-search .search-modal input {
		font-size: 1.125em;
		padding: 0.5em 1em;
	}

	.site-search .search-modal button {
		font-size: 1em;
		right: 0.5em;
	}
}

@media only screen and (max-width: 1150px) {
	.footer-illinois,
	.footer-twitter,
	.footer-newsletter {
		display: block;
		margin-bottom: 4em;
		padding: 0;
		width: auto;
	}

	.hp-audience {
		padding-bottom: 3em;
	}
	
	.hp-audience .col {
		display: block;
		margin: 0 0 2em 0;
		text-align: center;
		width: auto;
	}

	.hp-audience .col-head a.cta {
		display: none;
	}

	.hp-audience .hp-featured {
		display: inline-block;
		margin-right: 2%;
		text-align: left;
		vertical-align: top;
		width: 48.5%;
	}

	.hp-audience .hp-featured:last-child {
		margin-right: 0
	}

	.hp-audience .hp-featured.single {
		margin-right: 0;
		width: 100%;
	}

	.hp-audience .section-cta {
		display: none;
	}

	.hp-event-search .form {
		padding-bottom: 3em;
		padding-top: 3em;
	}

	.hp-event-search .form-field {
		border-left: none;
		padding: 0 0.5em;
		width: 49%;
	}

	.hp-event-search .form .sub-field {
		margin-left: 0;
		padding: 0 0.5em;
		width: 49%;
	}

	.hp-event-search .form-field.search-date {
		display: block;
		padding: 0 0 1em 0;
		width: auto;
	}

	.hp-event-search .form-field.search-date label {
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		width: auto;
	}

	.hp-event-search .form-field.search-keyword {
		border-left: none;
	}

	.site-header .phone {
		right: 8.5em;
		top: 3.25em;
	}

	.site-logo img {
		max-width: 10em;
	}

	.site-nav {
		position: static;
	}

	.site-nav .main-nav {
		background: #fff;
		box-shadow: 0 1em 3em rgba(34, 31, 31, 0.08);
		height: 0;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 999;
	}

	.site-nav .main-nav.active {
		height: auto;
		opacity: 1;
		overflow: auto;
	}

	.site-nav .nav-icon {
		background: #00a7e2;
		color: #fff;
		cursor: pointer;
		display: block;
		line-height: 1;
		height: 3em;
		position: absolute;
		right: 60px;
		text-transform: uppercase;
		top: 3.875em;
		-moz-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 3em;
		z-index: 3;
	}

	.site-nav .nav-icon.active {
		background: #fa9c35;
	}

	.site-nav .nav-icon .icon {
		background: #fff;
		display: inline-block;
		height: 2px;
		position: absolute;
		left: 50%;
		margin: -1px 0 0 -9px;
		top: 50%;
		-moz-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: background 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		vertical-align: top;
		width: 17px;
	}

	.site-nav .nav-icon.active .icon {
		background: transparent;
	}

	.site-nav .nav-icon .icon:before {
		background: #fff;
		content: "\0020";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		-moz-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		-o-transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
		-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 17px;
	}

	.site-nav .nav-icon.active .icon:before {
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.site-nav .nav-icon .icon:after {
		background: #fff;
		content: "\0020";
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		-moz-transform: translateY(5px);
		-ms-transform: translateY(5px);
		-o-transform: translateY(5px);
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
		-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 17px;
	}

	.site-nav .nav-icon.active .icon:after {
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.site-nav .subnav-icon {
		cursor: pointer;
		display: block;
		font-size: 1.414em;
		padding: 0.75em 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 3em;
		z-index: 1;
	}

	.site-nav .subnav-icon:before {
		background: #00a7e2;
		content: "\0020";
		display: block;
		height: 2px;
		left: 26px;
		position: absolute;
		top: 33px;
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 10px;
	}

	.site-nav .subnav-icon.active:before {
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.site-nav .subnav-icon:after {
		background: #00a7e2;
		content: "\0020";
		display: block;
		height: 2px;
		left: 32px;
		position: absolute;
		top: 33px;
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		-webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1);
		width: 10px;
	}

	.site-nav .subnav-icon.active:after {
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.site-nav .menu {
		background: none;
		box-shadow: none;
		display: none;
		height: auto;
		margin-left: 0;
		opacity: 1;
		overflow: visible;
		padding: 0 0 1em 0;
		position: static;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
		-moz-transition: none;
		-o-transition: none;
		-webkit-transition: none;
		transition: none;
		-moz-transition-delay: 0;
		-o-transition-delay: 0;
		-webkit-transition-delay: 0;
		transition-delay: 0;
		width: auto;
	}

	.site-nav .menu:before {
		content: none;
	}

	.site-nav .menu li {
		padding: 0.25em 0;
	}

	.site-nav .main-nav > li:hover > .menu {
		padding: 0 0 1em 0;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
	}

	.site-nav .main-nav > li {
		border-top: 1px solid #ededee;
		display: block;
		text-align: left;
		width: auto;
	}

	.site-nav .main-nav > li > a .title {
		font-size: 1em;
	}

	.site-nav .main-nav > li > a .sub-title {
		display: none;
	}

	.site-nav .main-nav > li:last-child {
		border-bottom: none;
	}

	.site-nav .main-nav > li > a {
		border-top: none;
		color: #fff;
		font-size: 1.414em;
		margin-bottom: 0;
		padding: 0.75em 3em 0.75em 60px;
	}

	.site-nav .main-nav > li:hover > a,
	.site-nav .main-nav > li:focus > a {
		color: #00a7e2;
	}

	.site-nav .main-nav > li:hover > a .title,
	.site-nav .main-nav > li:focus > a .title {
		color: inherit;
	}

	.site-nav .main-nav > li > a:hover,
	.site-nav .main-nav > li > a:focus {
		color: #fa9c35;
	}

	.site-nav .main-nav > li:hover:after {
		content: none;
	}

	.site-nav .menu a {
		color: #221f1f;
		font-size: 1em;
		margin: 0;
		padding: 0 60px;
	}

	.site-nav .menu a:hover {
		color: #fa9c35;
	}

	.site-search .search-icon {
		background: #00a7e2;
		display: block;
		right: 7.25em;
		top: 3.875em;
	}

	.site-search.active .search-icon {
		background: #fa9c35;
	}

	.site-search .search-icon svg {
		fill: #fff;
		height: 1em;
		width: 1em;
	}

	.site-search .search-icon:hover svg,
	.site-search .search-icon:focus svg {
		fill: #fff;
	}

	.site-search .search-modal {
		height: 0;
		left: 0;
		right: auto;
		top: 100%;
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		width: 100%;
	}

	.site-search .search-modal input {
		font-size: 1.999em;
		padding: 0.5em 60px;
	}

	.site-search .search-modal button {
		font-size: 1.414em;
		right: 1em;
	}
}

@media only screen and (max-width: 900px) {
	h1 {
		font-size: 3.157em;
		line-height: 1.2;
	}

	h2 {
		font-size: 2.369em;
		line-height: 1.2;
	}

	h3 {
		font-size: 1.777em;
		line-height: 1.3;
	}

	h4 {
		font-size: 1.333em;
		line-height: 1.4;
	}

	.footer-contact {
		font-size: 1.333em;
	}

	.footer-contact li {
		display: block;
		margin: 0.5em 0;
	}

	.footer-newsletter form {
		font-size: 1.333em;
	}

	.footer-social a {
		font-size: 2.369em;
	}

	.footer-twitter .tweet {
		font-size: 1.333em;
	}

	.hero {
		height: 500px;
	}

	.hero .arrow {
		bottom: 2em;
	}

	.hero .arrow.prev {
		margin-left: -3em;
	}

	.hero .arrow.next {
		margin-left: 0.5em;
	}

	.hero .slide {
		height: 500px;
		overflow: hidden;
	}

	.hero img {
		margin-left: -800px;
		max-width: 1600px;
	}

	.hero .overlay {
		width: 100%;
	}

	.hero .overlay:after {
		content: none;
	}

	.hero .overlay-content {
		padding: 2em;
	}

	.hero .sub-title {
		font-size: 1.333em;
	}

	.hp-audience .col-head a.cta {
		font-size: 1.333em;
	}

	.site-header .phone {
		font-size: 1.333em;
		right: 8.75em;
		top: 3.5em;
	}

	.site-nav .subnav-icon {
		font-size: 1.333em;
	}

	.site-nav .subnav-icon:before {
		left: 24px;
		top: 31px;
	}

	.site-nav .subnav-icon:after {
		left: 30px;
		top: 31px;
	}

	.site-nav .main-nav > li > a {
		font-size: 1.333em;
	}

	.site-search .search-modal input {
		font-size: 1.777em;
	}

	.site-search .search-modal button {
		font-size: 1.333em;
	}
}

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 2.441em;
		line-height: 1.2;
	}

	h2 {
		font-size: 1.953em;
		line-height: 1.2;
	}

	h3 {
		font-size: 1.563em;
		line-height: 1.3;
	}

	h4 {
		font-size: 1.25em;
		line-height: 1.4;
	}

	.content {
		padding-left: 20px;
		padding-right: 20px;
	}

	.footer-contact {
		font-size: 1.25em;
	}

	.footer-newsletter form {
		font-size: 1.25em;
	}

	.footer-social a {
		font-size: 1.953em;
		margin: 0 0.25em;
	}

	.footer-twitter .tweet {
		font-size: 1.25em;
	}

	.hero .overlay-content {
		padding-left: 20px;
		padding-right: 20px;
	}

	.hero .sub-title {
		font-size: 1.25em;
	}

	.hero .cta {
		font-size: 1em;
		margin-top: 0.5em;
	}

	.hp-audience {
		padding: 3em 0 1em 0;
	}

	.hp-audience .section-head {
		margin-bottom: 3em;
	}

	.hp-audience .section-head .sub-title {
		font-size: 1em;
	}

	.hp-audience .col {
		margin-bottom: 3em;
	}

	.hp-audience .col-head:after {
		content: none;
	}

	.hp-audience .col-head a.cta {
		font-size: 1.25em;
	}

	.hp-audience .hp-featured,
	.hp-audience .hp-featured:last-child {
		display: block;
		margin: 0 auto 1em auto;
		width: auto;
	}

	.hp-event-search .header:after {
		content: none;
	}

	.hp-event-search .header span {
		background: none;
		display: block;
		padding: 0;
		position: static;
	}

	.hp-event-search .form {
		padding-left: 20px;
		padding-right: 20px;
	}

	.site-header .phone {
		font-size: 1.25em;
		right: 20px;
		top: 2em;
	}

	.site-nav .nav-icon {
		right: 20px;
		top: 5.25em;
	}

	.site-nav .subnav-icon {
		font-size: 1.25em;
	}

	.site-nav .subnav-icon:before {
		left: 22px;
		top: 29px;
	}

	.site-nav .subnav-icon:after {
		left: 28px;
		top: 29px;
	}

	.site-nav .main-nav > li > a {
		font-size: 1.25em;
		padding: 0.75em 3em 0.75em 20px;
	}

	.site-nav .menu a {
		padding: 0 20px;
	}

	.site-search .search-icon {
		right: 4.75em;
		top: 5.25em;
	}

	.site-search .search-modal input {
		font-size: 1.563em;
		padding: 0.5em 20px;
	}

	.site-search .search-modal button {
		font-size: 1.25em;
		right: 0.5em;
	}
}

@media only screen and (max-width: 450px) {
	.footer-illinois svg {
		height: 65px;
		width: 260px;
	}

	.footer-newsletter form {
		font-size: 1.125em;
	}

	.hp-event-search .form-field {
		display: block;
		font-size: 1em;
		padding: 0 0.25em 1em 0.25em;
		width: auto;
	}

	.hp-event-search .form .sub-field {
		padding: 0 0.25em;
	}

	.hp-event-search button {
		margin-top: 0;
	}

	.hp-event-search button .title {
		font-size: 1em;
	}

	.site-footer {
		padding: 3em 0;
	}

	.site-header .phone {
		font-size: 1.125em;
	}

	.site-header .phone svg {
		display: none;
	}

	.site-logo img {
		max-width: 8em;
	}

	.site-nav .nav-icon {
		top: 4.5em;
	}

	.site-search .search-icon {
		top: 4.5em;
	}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    /*a[href]:after {
        content: " (" attr(href) ")";
    }*/

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}